extend _layout

block title
  title Style guide

block content
  .container
    include ../components/stylePage/_button
    include ../components/stylePage/_typography
    include ../components/stylePage/_column&modal
