header(block="header")
  .container(elem="container clearfix")
    a(href="index.html" elem="logo")
      img(src="img/logo.svg", alt="header logo" elem="logo-img")
      img(src="img/name.svg", alt="header logo" elem="logo-text")

    div(elem="right-nav clearfix")

      div(elem="phone-one")
        a(href="tel:79091234567" elem="phone-link").db
          span(elem="area") +7(909)
          span(elem="locla") 1234567
          span(elem="phone-desc") туристам

      div(elem="phone-two")
        a(href="tel:79091234567" elem="phone-link").db
          span(elem="ara") +7(909)
          span(elem="local") 1234567
          span(elem="phone-desc") агентствам

      div(elem="login")
        span(elem="login-button") Войти

      div(elem="language")
        span RU
        span EN


